/*------------------------------------------------------------------
Project:    Mrikon Personal Portfolio
Version:    1.0
Primary use:    pxdraft

[Table of contents]

1. Body
2. Header
3. Footer
4. Blog
5. Portfolio
6. Section
7. Home Banner
8. About Us
9. Services
10. Skill
11. Testimonials
12. Contact Us

-------------------------------------------------------------------*/
@import url(../../plugin/bootstrap/css/bootstrap.min.css);
@import url(../../plugin/themify-icons/themify-icons.css);
@import url(../../plugin/owl-carousel/css/owl.carousel.min.css);
@import url(../../plugin/magnific/magnific-popup.css);
/*@import "../plugin/scroll/jquery.mCustomScrollbar.min.css";*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ------------------------
*	General
------------------------*/
body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #555a64;
  font-weight: 400;
  line-height: 1.8;
  font-smoothing: antialiased;
}

.dark-theme {
  color: #888888;
}

html {
  overflow-x: hidden;
}

a {
  color: #ea4020;
}
a:hover {
  color: #ce3113;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.fa,
.fab,
.fal,
.far,
.fas {
  line-height: inherit;
}

mark {
  background-image: linear-gradient(
    rgba(234, 64, 32, 0.6),
    rgba(234, 64, 32, 0.6)
  );
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: 0 bottom;
  background-color: transparent;
  padding: 0;
  color: currentColor;
}

/* ----------------------
*	Loading
---------------------------*/
#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ea4020;
  z-index: 99999;
}

.load-circle {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 50px;
}
.load-circle span {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.load-circle span:after {
  content: ' ';
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  border-color: #ffffff transparent #ffffff transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
  animation: lds-dual-ring 1.2s linear infinite;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* ----------------------
*	owl 
---------------------------*/
.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot {
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border: 1px solid #ea4020;
  transition: ease all 0.55s;
  margin: 0 5px;
}
.owl-carousel-white .owl-dots .owl-dot {
  border-color: #ffffff;
  background: none;
}
.owl-dots .owl-dot.active {
  background: #ea4020;
}
.owl-carousel-white .owl-dots .owl-dot.active {
  background: #ffffff;
}

.owl-carousel .owl-item img {
  width: auto;
  max-width: 100%;
}

.px-btn {
  padding: 0 50px 0 20px;
  line-height: 50px;
  position: relative;
  display: inline-block;
  color: #191b13;
  background: none;
  border: none;
}
.px-btn:focus {
  outline: none;
  box-shadow: none !important;
}
.px-btn span {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
.px-btn .arrow {
  width: 13px;
  height: 2px;
  background: currentColor;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 25px;
}
.px-btn .arrow:after {
  width: 8px;
  height: 8px;
  border-right: 2px solid currentColor;
  border-top: 2px solid currentColor;
  content: '';
  position: absolute;
  top: -3px;
  right: 0;
  display: inline-block;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.px-btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: transparent;
  border: 1px solid #ea4020;
  border-right: 1px solid transparent;
  transition: ease all 0.35s;
  width: 50px;
  height: 50px;
}
.px-btn:hover {
  color: #ffffff;
}
.px-btn:hover:before {
  background: #ea4020;
  width: 100%;
  border-color: #ea4020;
}
.px-btn.white {
  color: #ffffff;
}
.px-btn.white:before {
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-right: 1px solid transparent;
}
.px-btn.white:hover {
  color: #191b13;
}
.px-btn.white:hover:before {
  background: #ffffff;
  width: 100%;
  border-color: #ffffff;
}

.px-btn-arrow {
  padding: 0 50px 0 0;
  line-height: 20px;
  position: relative;
  display: inline-block;
  color: #ea4020;
  transition: ease all 0.3s;
}
.px-btn-arrow span {
  font-size: 15px;
  font-weight: 500;
  position: relative;
  z-index: 1;
}
.px-btn-arrow .arrow {
  width: 13px;
  height: 2px;
  background: currentColor;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 25px;
  transition: ease all 0.3s;
}
.px-btn-arrow .arrow:after {
  width: 8px;
  height: 8px;
  border-right: 2px solid currentColor;
  border-top: 2px solid currentColor;
  content: '';
  position: absolute;
  top: -3px;
  right: 0;
  display: inline-block;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.px-btn-arrow:hover {
  color: #191b13;
}
.px-btn-arrow:hover .arrow {
  right: 20px;
}

/* Video 
----------------*/
.video-btn {
  position: relative;
  width: 80px;
  height: 80px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  transition: ease all 0.55s;
  z-index: 1;
  border: none;
}
.video-btn:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  -webkit-animation: pulse-border 1500ms ease-out infinite;
  animation: pulse-border 1500ms ease-out infinite;
  pointer-events: none;
  z-index: -1;
}
.video-btn.white {
  background: #ffffff;
}
.video-btn.white:after {
  background: #ffffff;
}
.video-btn.white span {
  color: #ea4020;
}
.video-btn.theme {
  background: #ea4020;
}
.video-btn.theme:after {
  background: #ea4020;
}
.video-btn.theme span {
  color: #ffffff;
}
.video-btn span {
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid currentcolor;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 9px;
  right: 0;
  margin: auto;
  width: 0px;
  height: 0px;
}

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse-border {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

/* Background color
-------------------------------*/
.theme-bg {
  background-color: #ea4020;
}

.dark-bg {
  background-color: #191b13;
}

.black-bg {
  background-color: #000000;
}

.gray-bg {
  background-color: #eaedf2;
}

.white-bg {
  background-color: #ffffff;
}

.blue-bg {
  background-color: #49bedf;
}

/* Text color
-------------------------------*/
.white-color {
  color: #ffffff;
}

.white-color-light {
  color: rgba(255, 255, 255, 0.65);
}

.dark-color {
  color: #191b13;
}
.dark-theme .dark-color {
  color: #ffffff;
}

.body-color {
  color: #555a64;
}

.theme-color {
  color: #ea4020;
}

.green-color {
  color: #11e279;
}

/*	Toggle Menu
-------------------------*/
.navbar-toggler,
.toggler-menu {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0;
  border-radius: 0;
  padding: 0;
  margin-left: 15px;
  background: transparent;
  border: none;
  outline: none;
}
.navbar-toggler span,
.toggler-menu span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 25px;
  height: 2px;
  margin: auto;
  box-shadow: 0px -8px 0 0px currentColor, 0px 8px 0 0px currentColor;
  background: #191b13;
  color: #191b13;
}

.mob-header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  left: 0;
  padding: 6px 10px;
}
.mob-header.fixed-header {
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
}
@media (min-width: 1201px) {
  .mob-header {
    padding: 30px 40px;
    transition: ease all 0.35s;
  }
  .mob-header.fixed-header {
    padding: 15px 40px;
  }
  .mob-header.mh-desk {
    display: none;
  }
}
.mob-header .toggler-menu {
  margin-left: auto;
}
.mob-header .navbar-brand {
  font-size: 30px;
  padding: 0 15px;
}
@media (max-width: 991px) {
  .mob-header .navbar-brand {
    padding: 0;
  }
}
.mob-header .navbar-brand a {
  color: #ea4020;
  font-weight: 700;
}
.mob-header.dark .navbar-brand a {
  color: #ffffff;
}
.mob-header.dark .toggler-menu span {
  background: #ffffff;
  color: #ffffff;
}
.mob-header.dark.fixed-header .navbar-brand a {
  color: #191b13;
}
.mob-header.dark.fixed-header .toggler-menu span {
  background: #191b13;
  color: #191b13;
}

/* Side Menu
-----------------------------*/
.header-left {
  position: fixed;
  top: 0;
  width: 400px;
  max-width: 100%;
  overflow: hidden;
  border-radius: 0;
  bottom: 0;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.29);
  z-index: 3;
  transition: ease all 0.35s;
  right: -450px;
  background: #191b13;
}
.header-left.menu-open {
  right: 0;
}
@media (min-width: 1201px) {
  .header-left.hl-desk {
    right: 0;
  }
}
.header-left .hl-top {
  text-align: center;
  padding-bottom: 45px;
  padding-top: 45px;
}
.header-left .hl-top .hl-logo {
  text-align: center;
  font-size: 32px;
  line-height: 30px;
  color: #ffffff;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
}
.header-left .hl-top .hl-logo a {
  color: #ffffff;
  text-decoration: none;
}
.header-left .hl-top .hl-logo span {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  letter-spacing: 2px;
}
.header-left .close-icon {
  text-align: right;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 11;
}
.header-left .close-icon .hl_menu_close {
  width: 40px;
  height: 40px;
  border: none;
  box-shadow: none;
  outline: none;
  position: relative;
  background: transparent;
  cursor: pointer;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  transition: ease all 0.35s;
}
.header-left .close-icon .hl_menu_close span {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #ffffff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header-left .close-icon .hl_menu_close span:before,
.header-left .close-icon .hl_menu_close span:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: currentColor;
}
.header-left .close-icon .hl_menu_close span:before {
  width: 22px;
  height: 2px;
}
.header-left .close-icon .hl_menu_close span:after {
  height: 22px;
  width: 2px;
}
.header-left .close-icon .hl_menu_close:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.header-left .nav {
  padding: 100px 50px 50px;
  max-height: calc(100% - 150px);
  overflow-y: auto;
}
@media (max-width: 767px) {
  .header-left .nav {
    padding: 70px 30px 30px;
  }
}
.header-left .nav li {
  width: 100%;
  padding: 15px 0;
}
@media (max-width: 767px) {
  .header-left .nav li {
    padding: 10px 0;
  }
}
.header-left .nav li a {
  font-size: 26px;
  font-weight: 400;
  padding: 0px;
  display: block;
  position: relative;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  display: inline-block;
}
@media (max-width: 767px) {
  .header-left .nav li a {
    font-size: 20px;
  }
}
.header-left .nav li a:after {
  content: '';
  width: 0px;
  background: #ea4020;
  height: 2px;
  left: auto;
  bottom: 0;
  right: 0;
  position: absolute;
  transition: ease all 0.35s;
}
.header-left .nav li a.active,
.header-left .nav li a:hover {
  color: #ffffff;
}
.header-left .nav li a.active:after,
.header-left .nav li a:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}
.header-left .header-contact {
  padding: 20px 50px 50px;
  margin-top: auto;
}
@media (max-width: 767px) {
  .header-left .header-contact {
    padding: 20px 30px 50px;
  }
}
.header-left .header-contact label {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 200;
  width: 100%;
}
@media (max-width: 767px) {
  .header-left .header-contact label {
    font-size: 16px;
  }
}
.header-left .header-contact a {
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
}
@media (max-width: 767px) {
  .header-left .header-contact a {
    font-size: 20px;
  }
}

.footer {
  padding: 20px 0;
  position: relative;
  background: #191b13;
}
.footer .nav a {
  color: #ffffff;
  font-size: 14px;
  margin-right: 17px;
}
.footer .nav a:hover {
  color: #ea4020;
}
.footer p {
  color: #ffffff;
  font-size: 12px;
  margin: 0;
}

.section-title {
  padding-bottom: 45px;
  text-align: center;
}
@media (max-width: 991px) {
  .section-title {
    padding-bottom: 25px;
  }
}
.section-title h2 {
  color: #191b13;
  font-weight: 600;
  font-size: 38px;
  margin: 0 0 15px;
  padding: 0 0 15px;
  position: relative;
}
.section-title h2:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  width: 50px;
  margin: auto;
  background: #ea4020;
}
@media (max-width: 767px) {
  .section-title h2 {
    font-size: 32px;
  }
}
.section-title p {
  margin: 0;
  font-size: 16px;
}

/* Page title
--------------------------------*/
.page-title {
  padding: 160px 0 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 1200px) {
  .page-title {
    padding-top: 130px;
  }
}
.page-title h1 {
  font-weight: 700;
  margin-bottom: 15px;
}

/* Breadcrumbs
--------------------------------*/
.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
  background: none;
  border-radius: 0;
}
.breadcrumb li {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  color: #191b13;
}
.breadcrumb li + li {
  padding-left: 17px;
  margin-left: 17px;
}
.breadcrumb li + li:after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: currentColor;
  opacity: 0.5;
  left: -2px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.breadcrumb li a {
  color: #191b13;
}
.breadcrumb.white li {
  color: #ffffff;
}
.breadcrumb.white li a {
  color: #ffffff;
}

.skill-lt:not(:first-child) {
  margin-top: 30px;
}

.skill-lt h6 {
  font-size: 16px;
  margin: 0 0 10px;
}

.skill-lt .skill-bar {
  position: relative;
  background: #eee;
}
.skill-lt .skill-bar .skill-bar-in {
  width: 0px;
  transition: ease all 0.55s;
  height: 5px;
  position: relative;
}
.skill-lt .skill-bar .skill-bar-in span {
  position: absolute;
  right: 0;
  top: -30px;
  font-size: 14px;
}

.skill-lt.md .skill-bar .skill-bar-in {
  height: 8px;
}

.skill-lt.lg .skill-bar .skill-bar-in {
  height: 10px;
}

.skill-lt.light .skill-bar {
  background: rgba(0, 0, 0, 0.5);
}

.blog-listing {
  padding-top: 30px;
  padding-bottom: 30px;
}
.blog-listing .pagination {
  margin-top: 30px;
}

.pagination .page-item .page-link {
  border: 1px solid #ccc;
  box-shadow: none;
  color: #191b13;
  margin: 0 5px;
}
.pagination .page-item .page-link:hover {
  background: #ea4020;
  border-color: #ea4020;
  color: #ffffff;
}

.pagination .page-item.disabled .page-link {
  opacity: 0.5;
}

.pagination .page-item.active .page-link {
  background: #ea4020;
  border-color: #ea4020;
  color: #ffffff;
}

/* Blog Sidebar
-------------------*/
.blog-aside .widget {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  overflow: hidden;
  background: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.blog-aside .widget-body {
  padding: 15px;
}

.blog-aside .widget-title {
  padding: 15px;
  border-bottom: 1px solid #eee;
}
.blog-aside .widget-title h3 {
  font-size: 18px;
  font-weight: 600;
  color: #ea4020;
  margin: 0;
}

.blog-aside .widget-author .media {
  margin-bottom: 15px;
}

.blog-aside .widget-author p {
  margin: 0;
}

.blog-aside .widget-author .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.blog-aside .widget-author h6 {
  font-weight: 500;
  color: #191b13;
  font-size: 18px;
  margin: 0;
  padding-left: 20px;
}

.blog-aside .post-aside {
  margin-bottom: 15px;
}
.blog-aside .post-aside .post-aside-title h5 {
  margin: 0;
}
.blog-aside .post-aside .post-aside-title a {
  font-size: 16px;
  color: #191b13;
  font-weight: 500;
}
.blog-aside .post-aside .post-aside-meta {
  padding-bottom: 10px;
}
.blog-aside .post-aside .post-aside-meta a {
  color: #555a64;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}

.blog-aside .latest-post-aside + .latest-post-aside {
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-top: 15px;
}

.blog-aside .latest-post-aside .lpa-right {
  width: 90px;
}
.blog-aside .latest-post-aside .lpa-right img {
  border-radius: 3px;
}

.blog-aside .latest-post-aside .lpa-left {
  padding-right: 15px;
}

.blog-aside .latest-post-aside .lpa-title h5 {
  margin: 0;
  font-size: 15px;
}

.blog-aside .latest-post-aside .lpa-title a {
  color: #191b13;
  font-weight: 500;
}

.blog-aside .latest-post-aside .lpa-meta a {
  color: #555a64;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}

.tag-cloud a {
  padding: 4px 15px;
  font-size: 13px;
  color: #191b13;
  background: #eaedf2;
  border-radius: 3px;
  margin-right: 4px;
  margin-bottom: 4px;
}
.tag-cloud a:hover {
  background: #ea4020;
  color: #ffffff;
}

.blog-single {
  padding-top: 30px;
  padding-bottom: 30px;
}

.article {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  overflow: hidden;
  background: #ffffff;
  padding: 15px;
  margin: 15px 0 30px;
}
.article .article-title {
  padding: 15px 0 20px;
}
.article .article-title h6 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}
.article .article-title h6 a {
  text-transform: uppercase;
  color: #ea4020;
  border-bottom: 1px solid #ea4020;
}
.article .article-title h2 {
  color: #191b13;
  font-weight: 600;
}
.article .article-title .media {
  padding-top: 15px;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 20px;
}
.article .article-title .media .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.article .article-title .media .media-body {
  padding-left: 8px;
}
.article .article-title .media .media-body label {
  font-weight: 600;
  color: #ea4020;
  margin: 0;
}
.article .article-title .media .media-body span {
  display: block;
  font-size: 12px;
}
.article .article-content h1,
.article .article-content h2,
.article .article-content h3,
.article .article-content h4,
.article .article-content h5,
.article .article-content h6 {
  color: #191b13;
  font-weight: 600;
  margin-bottom: 15px;
}
.article .article-content blockquote {
  max-width: 600px;
  padding: 15px 0 30px 0;
  margin: 0;
}
.article .article-content blockquote p {
  font-size: 20px;
  font-weight: 500;
  color: #ea4020;
  margin: 0;
}
.article .article-content blockquote .blockquote-footer {
  color: #191b13;
  font-size: 16px;
}
.article .article-content blockquote .blockquote-footer cite {
  font-weight: 600;
}
.article .tag-cloud {
  padding-top: 10px;
}

.article-comment {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  overflow: hidden;
  background: #ffffff;
  padding: 20px;
}
.article-comment h4 {
  color: #191b13;
  font-weight: 700;
  margin-bottom: 25px;
  font-size: 22px;
}

/*---------------------------
 Portfolio Start
------------------------------*/
.portfolio-content.grid-col-2 .grid-item {
  width: 50%;
}
@media (max-width: 767px) {
  .portfolio-content.grid-col-2 .grid-item {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .portfolio-content.grid-col-3 .grid-item {
    width: 33.3333%;
  }
}

@media (max-width: 991px) {
  .portfolio-content.grid-col-3 .grid-item {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .portfolio-content.grid-col-3 .grid-item {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .portfolio-content.grid-col-4 .grid-item {
    width: 33.3333%;
  }
}

@media (min-width: 1201px) {
  .portfolio-content.grid-col-4 .grid-item {
    width: 25%;
  }
}

@media (max-width: 991px) {
  .portfolio-content.grid-col-4 .grid-item {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .portfolio-content.grid-col-4 .grid-item {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .portfolio-content.grid-col-5 .grid-item {
    width: 33.3333%;
  }
}

@media (min-width: 1201px) {
  .portfolio-content.grid-col-5 .grid-item {
    width: 20%;
  }
}

@media (max-width: 991px) {
  .portfolio-content.grid-col-5 .grid-item {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .portfolio-content.grid-col-5 .grid-item {
    width: 100%;
  }
}

.portfolio-content.grid-gutter-md {
  margin-left: -4px;
  margin-right: -4px;
}
.portfolio-content.grid-gutter-md .grid-item {
  padding: 8px;
}

.portfolio-content.grid-gutter-lg {
  margin-left: -6px;
  margin-right: -6px;
}
.portfolio-content.grid-gutter-lg .grid-item {
  padding: 12px;
}

.portfolio-content .grid-item {
  float: left;
}

/*Portfolio Filter*/
.portfolio-filter-01 .filter li {
  cursor: pointer;
  margin: 0 15px;
  color: #191b13;
  position: relative;
  padding: 5px 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  line-height: normal;
}
.portfolio-filter-01 .filter li:after {
  content: '';
  width: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 2px;
  background: #ea4020;
  position: absolute;
  transition: ease all 0.55s;
}
.portfolio-filter-01 .filter li:last-child {
  margin-right: 0;
}
.portfolio-filter-01 .filter li:first-child {
  margin-left: 0;
}
.portfolio-filter-01 .filter li:hover {
  color: #ea4020;
}
.portfolio-filter-01 .filter li.active {
  color: #ea4020;
}
.portfolio-filter-01 .filter li.active:after {
  width: 100%;
}

/*Portfolio Style 2*/
.portfolio-box-01 {
  background: #ffffff;
  position: relative;
}
.portfolio-box-01 .portfolio-img {
  position: relative;
}
.portfolio-box-01 .portfolio-img .portfolio-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  transition: ease all 0.35s;
  opacity: 0;
}
.portfolio-box-01 .portfolio-info {
  margin-bottom: 15px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 1;
}
.portfolio-box-01 .portfolio-info h5 {
  margin: 0;
  color: #b4b4b4;
  font-weight: 600;
  font-size: 18px;
}
.portfolio-box-01 .portfolio-info span {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}
.portfolio-box-01:hover .portfolio-img .portfolio-icon {
  opacity: 1;
}

@media (min-width: 1201px) {
  .main-left {
    padding-left: 280px;
  }
}

/* Section
---------------------*/
.section {
  padding: 100px 0;
  position: relative;
}
@media (max-width: 991px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

/* Home Banner
---------------------*/
.home-banner-01 {
  background-size: cover;
  background-position: 59% center;
  position: relative;
}
.home-banner-01 .min-vh-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  .home-banner-01 {
    background-position: 65% center;
  }
}
.home-banner-01 .ht-text {
  color: #ffffff;
  max-width: 600px;
}
@media (min-width: 992px) {
  .home-banner-01 .ht-text {
    margin-left: 10vw;
  }
}
@media (max-width: 991px) {
  .home-banner-01 .ht-text {
    padding: 20px;
    background: rgba(25, 27, 19, 0.8);
  }
}
.home-banner-01 .ht-text h6 {
  font-weight: 400;
  font-size: 40px;
  margin: 0 0 15px;
}
@media (max-width: 991px) {
  .home-banner-01 .ht-text h6 {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .home-banner-01 .ht-text h6 {
    font-size: 20px;
  }
}
.home-banner-01 .ht-text h1 {
  font-weight: 700;
  font-size: 70px;
  margin-bottom: 15px;
}
@media (max-width: 991px) {
  .home-banner-01 .ht-text h1 {
    font-size: 60px;
  }
}
@media (max-width: 767px) {
  .home-banner-01 .ht-text h1 {
    font-size: 40px;
  }
}
.home-banner-01 .ht-text h2 {
  font-size: 24px;
  line-height: 1.7;
  font-weight: 400;
}
@media (max-width: 991px) {
  .home-banner-01 .ht-text h2 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .home-banner-01 .ht-text h2 {
    font-size: 16px;
  }
}
.home-banner-01 .ht-text h2 span {
  font-weight: 600;
  text-decoration: underline;
}
.home-banner-01 .ht-text .btn-bar {
  padding-top: 30px;
}
@media (max-width: 991px) {
  .home-banner-01 .ht-text .btn-bar {
    padding-top: 20px;
  }
}
@media (max-width: 767px) {
  .home-banner-01 .ht-text .btn-bar {
    padding-top: 15px;
  }
}

/* Home Banner
---------------------*/
.particles-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
}

.go-to-next {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  width: 35px;
  margin: auto;
  z-index: 1;
  text-align: center;
}
.go-to-next a {
  width: 35px;
  height: 35px;
  position: relative;
  display: inline-block;
  background: #ea4020;
  animation: down 1s linear infinite;
  -webkit-animation: down 1s linear infinite;
}
.go-to-next a span {
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  width: 10px;
  height: 10px;
  position: absolute;
  top: -6px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

@-webkit-keyframes down {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 15px;
    opacity: 1;
  }
  60% {
    top: 15px;
    opacity: 0.6;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}

@keyframes down {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 15px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}

/* About Me 
---------------------*/
.about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 15px;
}
@media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
  }
}

.about-text h6 {
  font-weight: 600;
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  .about-text h6 {
    font-size: 18px;
  }
}

.about-text p {
  font-size: 15px;
  max-width: 450px;
}
.about-text p mark {
  font-weight: 600;
  color: #191b13;
}

.about-list {
  padding-top: 10px;
}
.about-list .media {
  padding: 5px 0;
}
.about-list label {
  color: #191b13;
  font-weight: 600;
  width: 110px;
  margin: 0;
  position: relative;
}
.about-list label:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 11px;
  width: 1px;
  height: 12px;
  background: #191b13;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  margin: auto;
  opacity: 0.5;
}
.about-list p {
  margin: 0;
  font-size: 15px;
}

@media (max-width: 991px) {
  .about-avatar {
    margin-top: 30px;
  }
}

.counter-section > .container {
  margin-top: -100px;
  position: relative;
}

.counter-section .counter {
  padding: 30px 40px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.counter-section .counter .count-data {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  padding-left: 70px;
}
.counter-section .counter .count-data i {
  font-size: 39px;
  position: absolute;
  top: 4px;
  left: 0;
  bottom: 0;
  color: #ea4020;
}
.counter-section .counter .count {
  font-weight: 700;
  color: #191b13;
  margin: 0;
  line-height: 1;
}
.counter-section .counter p {
  font-weight: 400;
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Skill
---------------------*/
.skill-section .typo-box h6 {
  color: #191b13;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  line-height: 1.6;
  max-width: 450px;
}
.skill-section .typo-box h6 span {
  font-weight: 600;
  color: #ea4020;
}

/* Feature Box
---------------------*/
.feature-box-1 {
  padding: 32px;
  background: #ffffff;
  text-align: center;
  transition: ease all 0.35s;
  position: relative;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.feature-box-1 .icon {
  height: 120px;
  margin-bottom: 22px;
}
.feature-box-1 .icon img {
  max-height: 100%;
  max-width: 150px;
}
.feature-box-1 h5 {
  color: #191b13;
  font-weight: 600;
  font-size: 18px;
  position: relative;
  padding: 0 0 20px;
  margin: 0 0 20px;
}
.feature-box-1 h5:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 30px;
  height: 2px;
  margin: auto;
  background: #ea4020;
}
.feature-box-1 p {
  margin: 0;
}
.feature-box-1:hover {
  top: -5px;
}

/* Testimonials
---------------------*/
.testimonial-col-01 {
  background: #ffffff;
  padding: 35px;
  margin: 10px 15px 30px 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.testimonial-col-01 .media {
  margin-bottom: 15px;
}
.testimonial-col-01 .media .img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.testimonial-col-01 .media .media-body {
  padding-left: 15px;
}
.testimonial-col-01 .media .media-body h6 {
  font-weight: 500;
  color: #191b13;
  margin-bottom: 0;
  font-size: 16px;
}
.testimonial-col-01 .media .media-body span {
  font-size: 12px;
}
.testimonial-col-01 .lead {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

/* Blog 
---------------------*/
.blog-grid {
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  background: #ffffff;
}
.blog-grid .blog-img {
  position: relative;
}
.blog-grid .blog-img .date {
  position: absolute;
  background: #ea4020;
  color: #ffffff;
  padding: 8px 15px;
  right: 10px;
  top: 10px;
}
.blog-grid .blog-img .date span {
  font-size: 22px;
  display: block;
  line-height: 22px;
  font-weight: 700;
}
.blog-grid .blog-img .date label {
  font-size: 14px;
  margin: 0;
}
.blog-grid .blog-info {
  padding: 20px;
}
.blog-grid .blog-info h5 {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 10px;
}
.blog-grid .blog-info h5 a {
  color: #191b13;
}
.blog-grid .blog-info p {
  margin: 0;
}
.blog-grid .blog-info .btn-bar {
  margin-top: 20px;
}

/* Contact Us
---------------------*/
.contactus-row {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  background: #ffffff;
  max-width: 900px;
}

.contact-info {
  padding: 30px;
  background: #191b13;
  height: 100%;
}

.contact-name {
  margin-bottom: 20px;
}
.contact-name h5 {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 5px;
  font-weight: 500;
}
.contact-name p {
  font-size: 14px;
  margin: 0;
  color: rgba(255, 255, 255, 0.6);
}

.social-share a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  margin-right: 10px;
  background: #ea4020;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contact-form {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  background: #ffffff;
  padding: 30px;
}
.contact-form h2 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 30px;
  color: #191b13;
}
.contact-form .form-group {
  margin-bottom: 22px;
  position: relative;
}
.contact-form .form-group .form-label {
  position: absolute;
  top: 10px;
  margin: 0;
  left: 2px;
  font-weight: 400;
  font-size: 14px;
  color: #191b13;
  padding: 0 10px;
  pointer-events: none;
  transition: ease all 0.35s;
}
.contact-form .form-group .form-control {
  border-radius: 0;
  border: 1px solid rgba(25, 27, 19, 0.2);
  height: 40px;
  box-shadow: none !important;
  font-size: 14px;
  color: #191b13;
}
.contact-form .form-group .form-control:focus {
  border-color: #ea4020 !important;
}
.contact-form .form-group .form-control::-webkit-input-placeholder {
  color: transparent;
}
.contact-form .form-group .form-control:-ms-input-placeholder {
  color: transparent;
}
.contact-form .form-group .form-control::-ms-input-placeholder {
  color: transparent;
}
.contact-form .form-group .form-control::-moz-placeholder {
  color: transparent;
}
.contact-form .form-group .form-control::placeholder {
  color: transparent;
}
.contact-form
  .form-group
  .form-control:not(:-moz-placeholder-shown)
  ~ .form-label {
  top: -10px;
  font-size: 9px;
  border-radius: 30px;
  border: 1px solid rgba(25, 27, 19, 0.5);
  background: #ffffff;
  left: 10px;
}
.contact-form
  .form-group
  .form-control:not(:-ms-input-placeholder)
  ~ .form-label {
  top: -10px;
  font-size: 9px;
  border-radius: 30px;
  border: 1px solid rgba(25, 27, 19, 0.5);
  background: #ffffff;
  left: 10px;
}
.contact-form .form-group .form-control:not(:placeholder-shown) ~ .form-label {
  top: -10px;
  font-size: 9px;
  border-radius: 30px;
  border: 1px solid rgba(25, 27, 19, 0.5);
  background: #ffffff;
  left: 10px;
}
.contact-form .form-group textarea.form-control {
  height: inherit;
}
@media (max-width: 767px) {
  .contact-form .send {
    margin-bottom: 20px;
  }
}
